body {
    background-color: #AF7F75;
}

label{
    font-family: sans-serif;
    font-size: 30px;
}

#logo-Container {
    background-color: #F3F4F2;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-top: 35px;
    width: fit-content;
    border-radius: 20px;
}

.form-Container {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-top: 35px;
    width: fit-content;
}

.textBox {
    font-size: 25px;
    margin-bottom: 25px;
}

.Button {
    background: #282025;
    border: none;
    color: #F3F4F2;
    font-size: 35px;
    border-radius: 20px;
    transition-duration: 1s;
    box-shadow: none;
    width: 50%;
    height: 55px;
    margin-left: 25%;
    margin-right: 25%;
}

.Button:hover {
    background: #F3F4F2;
    border-color: #282025;
    color: #282025;
    font-size: 35px;
    border-radius: 20px;
    transition-duration: 1s;
    cursor: pointer;
    box-shadow: -5px 5px 10px black;
}

#searchResults-Container {
    display: flex;
    flex-wrap: wrap;
}

.searchResult {
    width: 25%;
}